@import "tailwindcss";

@font-face {
  font-family: Ragnear;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Ragnear Bold.ttf") format("truetype");
}

/* Custom Fonts */
@theme {
  --font-ragnear: "Ragnear", sans-serif;
}

/* Custom-styles */
@theme {
  --color-primary-dark: #0f0f0f; /* Black */
  --color-secondary-dark: #18181a; /* Black */
  --color-primary-gray: #252527; /* Gray */
  --color-secondary-gray: #363636; /* Gray */
  --color-tertiary-gray: #5f5f5f; /* Gray */
  --color-primary-white: #fff; /* White */
  --color-secondary-white: #f5f5f5; /* White */
  --color-primary-blue: #155dfc; /* Blue */
  --color-secondary-blue: #1447e6; /* Blue */
}

/* Custom Animation */
@theme {
  --animate-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }

  --animate-slide-line: linegrow 3s ease-in-out infinite;
  @keyframes linegrow {
    0% {
      transform: scaleX(0);
      transform-origin: left;
    }
    50% {
      transform: scaleX(1); /* reach full width */
      transform-origin: left;
    }
    50.01% {
      transform-origin: right; /* switch for correct shrinking */
    }
    100% {
      transform: scaleX(0); /* shrink fully */
      transform-origin: right;
    }
  }

  --animate-shimmer-slide: shimmerSlide 2s linear infinite;
  @keyframes shimmerSlide {
    0% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(200%);
    }
  }
}
